<section data-ng-controller="AdminPgController">
	<h1>admin page</h1>

	<h3>Initial Functions</h3>
	<ul>
		<!--<li><a href="#!/remove-owner">remove owner</a></li>-->
		<li><a href="#!/assocplayer">associate players</a></li>
		<li><a href="#!/batch-upload">batch upload</a></li>
	</ul>

	<h3>Players</h3>
	<ul>
		<li><a href="#!/players">list players</a></li>
		<li><a href="#!/players/create">create a player</a></li>
		<li><a href="#!/admin-players">admin list players</a></li>
	</ul>

	<h3>Owners</h3>
	<ul>
		<li><a href="#!/owners">list owners</a></li>
		<li><a href="#!/owners/create">create an owner</a></li>
	</ul>

	<h3>RFA</h3>
	<ul>
		<li><a href="#!/rfa">RFAs</a></li>
	</ul>
	<!--<button ng-click="dumpPlayers()" class="btn btn-default" type="button">Dump Players</button>-->

	<h3>Global Vars</h3>
	<ul>
		<li><a href="#!/gvars">list</a></li>
		<li><a href="#!/gvars/create">create</a></li>
	</ul>

	<h3>Other pages</h3>
	<ul>
		<li><a href="#!/review-roster">Review roster</a></li>
	</ul>

	<h3>Testing</h3>
	<button class="btn btn-default" type="submit" ng-click="testAsync()">Test Async</button><br/>


</section>