<section>
	<div class="jumbotron text-center">
		<!--<center><img alt="so...how much time do you spend on fantasy football?" class="img-responsive text-center" src="modules/core/img/league153909_532_logo.jpg" /></center>-->
		<h2>Rules for the Sandbox League</h2>
	</div>
	<div class="row">
		<p><b>1.0 Initial Player Values</b></p>

		<p>During the first season of the Sandbox league, all players were drafted using a standard Auction draft. Each team owner was given a notional $315 to spend on their team rosters (originally consisting of 25 roster positions); this was based on ESPN’s standard value of $12.50 per roster position. Based on the results of this auction, all players were assigned a salary cap value. </p>

		<p><b>2.0 Retained Player Values</b></p>

		<p>Following the initial auction draft, players retained their initial salary values, which count against a salary cap for the next season. Additionally, player values escalate over time, according to their positional ranking from the previous season. For players with a positional ranking of 1-3, a 10% escalation rate was added at the end of the season. For players ranking 4-10, a 5% escalation rate was applied, and all other players were escalated 1%. </p>

		<p>For example, if Adrian Peterson was drafted at an initial value of $30, and then finished the 2013 season as the top Running Back (i.e., positional ranking of 1), then his 2014 salary cap value is $33. </p>

		<p>Any player that was not originally drafted through the auction receives an automatic $1 value.</p>

		<p><b>3.0 Drafting</b></p>

		<p><b>3.1 Salary Cap</b></p>

		<p>All team owners have $175 for the next year’s salary cap. Using the player’s retained value, a team owner can keep as many players as desired, as long as the cumulative value of the players is less than $175. A team owner can keep any player that was on the team’s roster at the end of the previous season, or has been traded prior to the salary cap deadline. </p>

		<p>If a team owner chooses to spend less than the $175 for the salary cap, then any remaining budget goes towards the auction draft (described below).</p>

		<p>Team owners retain all trade rights to any player on their roster up until the salary cap rosters have been submitted. The deadline for submitting salary cap rosters will be dependent on the draft date set by the league (each year), and will be communicated to all team owners. Players may be traded for rookie draft picks, other players, salary cap budget, or auction budget. If players are traded, the retained value of the player goes to the receiving team. Trades are only official when confirmed by the league commissioner. Unlike in-season trades, off-season trades do not require league approval.</p>

		<p><b>3.2 Rookie Drafting</b></p>

		<p>Prior to the annual auction draft, each year there will be a rookie draft. The rookie draft allows for teams to obtain high value prospects at low initial cost. During the rookie draft, the draft order proceeds through the reverse order of the team placing from the previous season. Thus, the 12<sup>th</sup> place team has the 1<sup>st</sup> draft pick, the 11<sup>th</sup> place team has the 2<sup>nd</sup> draft pick, and so on. </p>

		<p>There will be two rounds of the rookie draft, with the draft order resetting each round. Therefore, the 12<sup>th</sup> place team will have the 1<sup>st</sup> draft pick in each round.</p>

		<p>Rookies will be valued as $15 for a 1<sup>st</sup> round pick, and $10 for a second round pick. In subsequent years, rookies are valued in the same manner as other players, using the same escalation rates based on positional performance.</p>

		<p><b>3.3 Auction</b></p>

		<p>The auction draft begins after the rookie draft, and includes any player that is not retained by a team through the salary cap or rookie draft. Once the auction draft starts, all player values are reset to zero. </p>

		<p>During the auction draft, the draft order proceeds through the reverse order of the team placing from the previous season. Thus, the 12<sup>th</sup> place team has the 1<sup>st</sup> draft pick, the 11<sup>th</sup> place team has the 2<sup>nd</sup> draft pick, and so on. For each draft pick, the team owner nominates a player to be auctioned, from the available pool of players. Once nominated, all team owners can bid on the player. The team owner bidding the highest (and has the available budget) wins the player. Once selected, the auction value becomes the player’s new salary cap value.</p>

		<p>During the auction draft, team owners start with a notional $125. Additionally, if the team owner spent less than $175 under the salary cap, then the difference is added to the available auction draft budget. For example, if a team owner only spends $100 in the salary cap, then the remaining $75 is added to the $125, so the team owner has $200 for the auction.</p>

		<p><b>4.0 Restricted Free Agents</b></p>

		<p>Starting in Season 4 of the league, any player that has been retained by a team for three years in a row will become a Restricted Free Agent (RFA). Team owners can retain RFAs for their retained value; however, other team owners wishing to retain them can bid on RFAs. For example, if a team owner has held Adrian Peterson for the past three years, another team owner can bid on Adrian Peterson to retain the player rights. In this situation, the original team owner can match the bid; if matched, the original team owner retains the player for the new value. If the original team owner does not match the bid, then the player transfers to the new owner for the new value, which goes against the salary cap. Additionally, the original team owner receives from the new owner either: (1) a 1<sup>st</sup> round rookie draft pick or (2) $25 of auction draft budget. This choice will be at the discretion of the bidding team owner.</p>

		<p><b>5.0 Additional Details</b></p>

		<p>Rosters consist of 22 players with the following starter positional breakout:</p>

		<p>QB (2), WR (3), RB (2), TE (1), W/R (1), K (1), IDP (5), Bench (7)</p>

		<p>There are no limits on the number of players a team owner can have at one position.</p>

		<p>All scoring is subject to Yahoo Fantasy Football scoring. Specific point scoring can be found in the Appendix. Yahoo allows for both negative and fractional point scoring.</p>

		<p>The regular season ends Week 13. Playoffs are Weeks 14, 15, and 16. All games are scored head-to-head, and division winners are seeded higher playoff positions. See Yahoo for official rules.</p>

		<p><b>6.0 Dues &amp; Winnings</b></p>

		<p>League buy-in is set at $60 per team, due prior to the draft.</p>

		<p>The payout of winnings is as follows:</p>

		<p>1. League Champion: $360</p>

		<p>2. 2<sup>nd</sup> Place: $180</p>

		<p>3. 3<sup>rd</sup> Place: $90</p>

		<p>4. Regular Season Winner: $90</p>
	</div>
</section>