.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.availablePlayer{
	background-color: #a6e1ec;
}

.errorMsg{
	color:red;
	font-size: 1.3em;
}

.cursor{
	cursor:pointer;
}

.minitron{
	border-radius: 6px;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-color: #eee;
}

.botMarg{
	margin-bottom: 45px;
}

.timer{
	font-size:1.8em;
	font-weight: bold;
}

.tooExpensive{
	border-color: red;
	border-width: 6px;
}

.noMoney{
	background-color: lightgoldenrodyellow;
}

.doneDrafting{
	background-color: indianred;
}

.drafting{
	background-color: palegreen;
}

.viewingOwner{
	background-color: lightskyblue;
}

.modalFormat{
	padding: 5% 15% 5% 15%;
}

