.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.availablePlayer{
	background-color: #a6e1ec;
}

.errorMsg{
	color:red;
	font-size: 1.3em;
}

.cursor{
	cursor:pointer;
}

.minitron{
	border-radius: 6px;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-color: #eee;
}

.botMarg{
	margin-bottom: 45px;
}

.timer{
	font-size:1.8em;
	font-weight: bold;
}

.tooExpensive{
	border-color: red;
	border-width: 6px;
}

.noMoney{
	background-color: lightgoldenrodyellow;
}

.doneDrafting{
	background-color: indianred;
}

.drafting{
	background-color: palegreen;
}

.notInteresting{
	background-color: lightslategray;
}

.viewingOwner{
	background-color: lightskyblue;
}

.modalFormat{
	padding: 5% 15% 5% 15%;
}

.activelyBidding{
	background: #ccffcc;
}

.smallInput{
	width:50%;
}

.droster{
	font-size: .85em;
}

.dplayers{
	height:85vh;
	overflow: scroll;
	margin-bottom: 10vh;
}

.dhistory{
	font-size: .8em;
	display:block;
	width:100%;
	overflow-x:scroll;


}

.list-line{
	white-space:nowrap;
	margin-bottom: 2vh;
}

.dhitem{
	width:10%;
	/*float:left;*/
	display: inline-block;
	text-align: center;
	/*border-left: solid black 1px;*/
	border-right: solid black 1px;
}

/*format scroll bars individually */

.dhistory::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 2px;
}
.dhistory::-webkit-scrollbar-thumb:horizontal {
	border-radius: 2px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 .5px rgba(255,255,255,.5);
}

.dplayers::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
}
.dplayers::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}








.circle-border {
	background-color:#c06;
	border: 3px solid #000;
	height:150px;
	width:150px;
	-webkit-border-radius:75px;
	-moz-border-radius:75px;
	/*display: table;*/
	margin: 0 auto;
	z-index: 500;
}

.top-row{
	line-height: 4;
	border-bottom: black solid 1px;
	margin-bottom: 20px;
}

.transparent-circle {
	background-color: white;
	border: 3px solid #000;
	height:150px;
	width:150px;
	-webkit-border-radius:75px;
	-moz-border-radius:75px;
	margin: 0 auto;
	z-index: 500;
}

.inner-stuff{
	line-height: 150px;
}

.line-container{
	text-align:center;
	background:linear-gradient(to bottom,
	rgba(0,0,0,0) 48%,
	rgba(0,0,0,0.5) 48%,
	rgba(0,0,0,0.5) 52%,
	rgba(0,0,0,0) 52%
	);
}





.full-circle {
	background-color:#c06;
	height:150px;
	width:150px;
	-webkit-border-radius:75px;
	-moz-border-radius:75px;
	/*display: block;*/
	margin: 0 auto;
}



.half-circle {
	background-color:#c06;
	height:150px;
	width: 75px;
	-moz-border-radius: 150px 0 0 150px;
	border-radius: 150px 0 0 150px;
}

.quarter-circle {
	background-color:#c06;
	height:150px;
	width: 150px;
	-moz-border-radius: 150px 0 0 0;
	border-radius: 150px 0 0 0;
}