<section data-ng-controller="EditRosterController" data-ng-init="getOwner()" class="botMarg">
	<!--{{owner.previousRoster}}-->
	<!--{{user.ownerId}}<br/>-->
	<!--{{owner._id}}<br/>-->
	<!--{{owner.keepRoster[0].price}}-->
	<div class="jumbotron text-center">
		<div class="row">
			<h2>{{owner.name}}'s Roster</h2>
			<!--<p ng-show="rosterCheck">-->
				<!--You have until TBD time to edit your roster-->
			<!--</p>-->
			<!--<p ng-hide="rosterCheck" >-->
				<!--<span class="errorMsg">This isn't your roster so you can't alter it</span>-->
			<!--</p>-->
			<p>
				<span class="errorMsg">No more editing<br/>It's time to draft!</span>
			</p>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h3>Keepers <button type="button" class="btn btn-default" ng-click="open(1)">Help</button><br/></h3>
				Keeper Salary: ${{salary}}<br/>
				Keeper Cap Left: ${{gvar.keeperCap-salary}}<br/>
				Players Keeping: {{owner.keepRoster.length}}<br/>
			</div>
			<div class="col-md-6">
				<h3>Restricted Free Agents <button type="button" class="btn btn-default" ng-click="open(2)">Help</button><br/></h3>
				RFA Salary: ${{rfaSalary}}<br/>
				RFA Budget Left: ${{gvar.salaryCap-salary-rfaSalary + owner.extraMoney}}<br/>
				Players Trying to Keep: {{owner.bidRoster.length}}<br/>
			</div>
		</div>


	</div>

	<div class="row">
		<div class="col-md-6">
			<h3>Currently Keeping</h3>
			<a data-ng-repeat="player in owner.keepRoster | orderBy: '-position'" ng-click="changeKeeper(player,0)" class="list-group-item cursor drafting">
				<h4>{{player.name}} ({{player.position}}): ${{player.price}}</h4>
				Team: {{player.team.name}} - Years Owned: {{player.yearsOwned}}
			</a>
			<hr/>
			<h3>Eligible to Keep</h3>
			<a data-ng-repeat="player in owner.keepEligable | orderBy: '-position'" ng-click="changeKeeper(player,1)" class="list-group-item cursor">
				<h4>{{player.name}} ({{player.position}}): ${{player.price}}</h4>
				Team: {{player.team.name}} - Years Owned: {{player.yearsOwned}}
			</a>
		</div>
		<div class="col-md-6">
			<h3>Currently Bidding</h3>
			<a data-ng-repeat="player in owner.bidRoster | orderBy: '-position'" ng-click="changeBidee(player,0)" class="list-group-item cursor drafting">
				<h4>{{player.name}} ({{player.position}}): ${{player.price}}</h4>
				Team: {{player.team.name}}
			</a>
			<hr/>
			<h3>Eligible to Bid</h3>
			<a data-ng-repeat="player in owner.bidEligable | orderBy: '-position'" ng-click="changeBidee(player,1)" class="list-group-item cursor">
				<h4>{{player.name}} ({{player.position}}): ${{player.price}}</h4>
				Team: {{player.team.name}}
			</a>
		</div>
	</div>
</section>