<section data-ng-controller="ModalController">
	<br/>
	<div class="row">
		<div class="col-md-12">
			<p>You have $175 to spend on keepers</p>
			<p>You cannot go over the keeper budget</p>
			<p>To keep someone just click a player in the "Eligible to Keep" list to move them to the keeper pile</p>
			<p>At the end of the keeper period, all of the players in the "Eligible to Keep" pile will be dropped from your roster and you will not be able to alter your roster anymore</p>
		</div>
	</div>

</section>