<section data-ng-controller="ReviewRosterController" data-ng-init="initialize()">
	<br/>

	<div class="row">
		<div class="col-md-8">
			<div class="minitron text-center">
				<h3>Rosters</h3>
				<span>Select a roster to view it</span>
			</div>

			<table class="table table-striped table-bordered table-hover">
				<thead>
				<td>Name</td>
				<td>Available Salary</td>
				<td>Players Kept</td>
				<td>RFA Players</td>
				</thead>
				<tr ng-repeat="owner in owners" ng-click="goToRoster(owner._id)" class="cursor">
					<td>{{owner.name}}</td>
					<td>
						${{(gvar.salaryCap*10 - owner.salary*10 + owner.extraMoney*10)/10}}</td>
					<td>{{owner.keepRoster.length}} - {{owner.previousRoster.length}}</td>
					<td>{{owner.bidRoster.length}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-2">
			<h3>Rookie Draft Order</h3>
			<table class="table table-striped table-bordered">
				<thead>
				<td>Pick</td>
				<td>Owner</td>
				</thead>
				<tr ng-repeat="pick in gvar.draftOrder">
					<td>{{$index+1}}</td>
					<td>{{pick.name}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-2">
			<h3>Auction Draft Order</h3>
			<table class="table table-striped table-bordered">
				<thead>
				<td>Pick</td>
				<td>Owner</td>
				</thead>
				<tr ng-repeat="pick in gvar.pickOrder">
					<td>{{$index+1}}</td>
					<td>{{pick.name}}</td>
				</tr>
			</table>
		</div>

	</div>

</section>