<section data-ng-controller="ModalController" class="modalFormat">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">Rules for RFAs</h3>
			<p>You have your entire budget to use on RFAs</p>
			<p>This includes the cost of all of your keepers as well as the players you are trying to keep in free agency</p>
			<p>You are NOT guaranteed to keep these players</p>
			<p>The first portion of the draft will be a "Free Agency" period in which people will be able to bid on these players.</p>
			<p>At the end of Free Agency you will have the option to match the highest bids and keep players at that price (contract will start at 0 again)</p>
			<p>You will NOT have options to do anything with your keepers at the end of Free Agency</p>
		</div>
	</div>
</section>