<section data-ng-controller="PlayersController" data-ng-init="initializeBatchUpload()">
	{{authentication.user._id}}
	<!--{{owners}}<br/>-->
	<div class="row">
		<div class="col-md-12">
			<h3>Start a new year</h3>
			<button ng-click="startNewYear()" class="btn btn-default" type="button">Start a New Year</button><br/><br/>
			This will increase all of the prices of players, add a year to their contract, and move all players to unselected

			<h3>Get file</h3>
			<input type="file" read-file="showContent($fileContent)" />
			<button class="btn btn-default" type="submit" ng-click="parseCSV()">Parse for Upload</button><br/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Batch Upload</h3>
			<button class="btn btn-default" type="submit" ng-click="batchAdd()">Upload to DB</button>

		</div>
		<div class="col-md-4">
			<h3>Mark Old Players</h3>
			<div>
				<button class="btn btn-default" type="submit" ng-click="markOldPlayers()">Mark Old Players</button><br/>
				Input a csv of new players for the year and hit submit. This function will compare all players against the new list and mark old players with a ranking of 999
			</div>
			<div>
				<button class="btn btn-default" type="submit" ng-click="oldPlayers()">Old Players</button><br/>
				Find players with no owners and zero out their price and years played
			</div>
			<div>
				<button class="btn btn-default" type="submit" ng-click="teamQuality()">Team Quality</button><br/>
				Go back and make sure that all of the players are associated with their owners
			</div>
			<div>
				<button class="btn btn-default" type="submit" ng-click="currentlyRostered()">Currently Rostered</button><br/>
				Find players with an owner but a price of 0 (waiver pickup), and change years owned to 1 and price to 1.1
			</div>
		</div>
		<div class="col-md-4">
			<h3>Update Ranks</h3>
			<button class="btn btn-default" type="submit" ng-click="updateRanks()">Update Ranks</button>
		</div>
	</div>
	<div>
		<h2>File content is:</h2>
		<pre>{{ content }}</pre>

	</div>
	{{playerArray[0].uploaded}}
	<div>
		<table class="table">
			<tr>
				<td>To Upload</td>
				<td>Name</td>
				<td>Position</td>
				<td>Team</td>
				<td>Bye</td>
				<td>Absolute Rank</td>
				<td>Position Rank</td>
				<td>Rookie</td>
				<td>Price</td>
				<td>Contract Years</td>
				<td>Owner</td>
				<td>JSON</td>
			</tr>
			<tr ng-repeat="inputPlayer in playerArray">
				<td>
					<input type="checkbox" data-ng-model="inputPlayer.toUpload" id="toUpload" class="form-control" required>
					Uploaded: {{inputPlayer.uploaded}}
				</td>
				<td><input type="text" data-ng-model="inputPlayer.name" id="name" class="form-control" placeholder="Name" required></td>
				<td><select ng-model="inputPlayer.position" ng-options="position for position in playerPositions"></select></td>
				<td><select ng-model="inputPlayer.team" ng-options="team.name for team in teams track by team.name"></select></td>
				<td>{{inputPlayer.team.byeWeek}}</td>
				<td><input type="number" data-ng-model="inputPlayer.absRank" id="abs" class="form-control" required></td>
				<td><input type="number" data-ng-model="inputPlayer.posRank" id="pos" class="form-control" required></td>
				<td><input type="checkbox" data-ng-model="inputPlayer.rookie" id="rookie" class="form-control" required></td>
				<td><input type="text" data-ng-model="inputPlayer.price" id="price" class="form-control" placeholder="0" required></td>
				<td><select ng-model="inputPlayer.yearsOwned" ng-options="year for year in contractYears"></select></td>
				<td><select ng-model="inputPlayer.owner" ng-options="owner.name for owner in owners track by owner.name"></select></td>
				<td>
					{{inputPlayer}}
				</td>
			</tr>
		</table>
	</div>
</section>